[Unit]
Description=freq_server
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker stop freq_server
ExecStartPre=/usr/bin/docker rm freq_server
ExecStart=/usr/bin/docker run -d -p 10004:10004 --name freq_server lightforge/freq_server
ExecStop=/usr/bin/docker stop -t 2 freq_server
Restart=always
LimitNOFILE=16384

[Install]
WantedBy=local.target